*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background:!important #0c111b;
    position:relative;
    font-family:roboto,sans-serif;
}
body{
    background:  !important #0c111b ;
    backface-visibility: hidden;
}

.navbar{
    width: 100%;
    height:80px;
    position: fixed;
    top:0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;

}
.brand-logo{
    height: 60px;
}
.nav-links{
    margin-top: 10px;
    display: flex;
    list-style: none;
}
.nav-items a{
    text-decoration:none;
    display:flex;
    flex-direction:row;
    margin-left:30px;
    text-transform:capitalize;
    color:#fff;
    opacity:0.9;
    vertical-align:middle;
    padding-top:13px;
}
.kids{
    vertical-align: middle;
    padding-top: 19px;
    padding-left: 30px;
}
.right-container{
    display: block;
    margin-left: auto;
}
.search-box{
    border:none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;
    height:30px;
    color:#fff;
    width:250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition:5s;
}
.search-box:focus{
    width:400px;
    border-color:#1f80e0;
}
.sub-btn{
    background: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color:#fff;
    border-radius: 5px;
    border:none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin:1 10px;

}
.login-link{
    color:#fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight:700 ;
    text-decoration: none;
}

.carousel-container{
    position: relative;
    width: 100%;
    height: 450px;
    padding:20px 0;
    overflow-x:hidden ;
    margin-top: 80px;
    background: black;
}
.carousel{
    
    display: flex;
    width:92%;
    height: 100%;
    position: relative;
    margin: auto;
    /*background: white;*/
}
.carousel-inner{
    background:#0c111b;
    width: 100%;
}

.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left:0;
    transition: 1s;
    overflow: hidden;

}
.slider img{
    width:70%;
    min-height: 100%;
    object-fit:cover ;
    display: block;
    margin-left: auto;
}

.slider-content{
    position:absolute;
    width:50%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to right, #030b17,#0c111b00);
    /*color:#fff;*/
}
.movie-title{
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 80px;

}
.movie-des{
    width:80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
}
.padding{
    background-color: lightgreen;
}


.box{
        background:  !important #0c111b ;

        height:240px;
        display:flex;
        overflow-x: auto;
        margin:10px 0px 0px 30px;
    }
.boxes{
    background:  !important #0c111b ;

    height:px;
    width:  !important 100%;
        display:flex;
        overflow-x: auto;
        margin:10px 0px 0px 30px;
}
h3{
        color:white;
        margin:10px 0px 0px 32px;
        font-family: Arial;
        font-size: 16px;
        font-weight: 600;
    }
.box::-webkit-scrollbar{
        width:0px;
    }
.boxes::-webkit-scrollbar{
        width:0px;
    }
div.box div{
    padding: 5px;
}
div.boxes div{
    padding: 5px;
}
.footer{
    height:fit-content;
}
.alink{
    color:white;
    text-decoration: none;
    padding: 2px;
    margin:0px 0px 13px 25px ;
    word-wrap: break-word;
    width:990px; 
    font-size: 12px;
}
.search{
    float:right;
    margin:25px 10px 0px 25px;
    font-size:14px;
    border-bottom: 1px solid rgb(223, 221, 221);
    width:170px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h51{
    color:white;
    font-size:12px;
    margin:0px 0px 10px 25px;
    font-family: Arial, Helvetica ,sans-serif;
    padding-top: 25px;
    font-weight: lighter;
}

body{
    background:!important #001a33;
    color:white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #001a33;
    min-width:140px ;
    border-radius: 5px;
    height:fit-content;
    margin-top: 10px;
}
  .dropdown-content a {
    padding: 15px 5px 15px 10px;
    text-decoration: none;
    display: block;
}
  .dropdown-content a:hover {
      background-color: black;
}
  .dropdown:hover .dropdown-content {
      display: block;
}
  .dropdown1 {
    position: relative;
    display: inline-block;
}
 
  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #001a33;
    width:120px;
    border-radius: 5px;
    min-height:230px;
    margin-top: 10px;
}
.dropdown-content2 a {
    padding: 15px ;
    text-decoration: none;
    display: block;
}
  .dropdown-content2 a:hover {
      background-color: black;
}
  .dropdown2:hover .dropdown-content2 {
      display: block;
}
.movie{
    width:150px;
    height:200px;
    padding: 5px;
    border-radius: 8px;
}
.movie:hover{
    background-color:white;
}
.footer{
   background:  !important #0c111b;
   background-color: rgba(0,0,0, 0.7);
   width:100%;
   height:200px;
   margin-top: 60px;
   position: sticky;
}
.h51{
    color:white;
    font-size:13px;
    margin:0px 0px 10px 25px;
    font-family: Arial, Helvetica ,sans-serif;
    padding-top: 25px;
}
.alink{
    color:white;
    text-decoration: none;
    padding: 2px;
    margin:0px 0px 13px 20px ;
     
}
.alink:hover{
    color:#00aaff;
}
h5{
  width: 630px; 
  font-size:14px;
  word-wrap: break-word;
  margin:20px 0px 20px 25px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  
}
.con{
    line-height:80px;
    margin-top:-143px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    color:white;
    font-size: 12px;
}
.twt{
    border-radius:5px;
    margin-left: -25px;
    margin-top: -50px;
}
.fbimg{
  margin-top:-40px;
  border-radius: 5px;
  margin-left:90px;
}
.sub1{
    color:#00aaff;
    font-family: Arial, Helvetica, sans-serif;
}
.fb{
    margin:0px 0px 0px 690px;
}
.gplay{
    margin-left: 270px;
    border-radius: 10px;
    margin-top:10px;
}
.down{
    margin-top: -67px;
    margin-left:290px;
    line-height: 20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}
.dplay{
    margin-left: -25px;
    border-radius: 10px;
    margin-top:-5px;
    font-size: 12px;
}
